@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    /*去除点击输入框颜色*/
    outline-style: none;
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    /*垂直居中*/
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}
/*防止拖动*/
textarea {
    /*去除文本框调节大小按钮*/
    resize: none;
}

/*  去掉图片低测默认的3像素空白缝隙*/
img {
    border: 0;
    vertical-align: middle;
}

table {
    /*表格的两边框合并为一条*/
    border-collapse: collapse;
}

body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";
    color: #666;
    background: #fff
}

.clearfix:before, .clearfix:after {
    content: "";
    display: block;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    _zoom: 1;/*兼容IE6*/
    *zoom: 1; /*兼容IE7*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}
a:link, a:visited,a:hover,a:active{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.col_red{
    color: #C81623;
}
.cl{
    clear: both;
}
ul{
    list-style: none;
}
/*版心*/
.content_auto{
    width: 980px;
    margin: 0 auto;
}